@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');
                
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(31, 31, 31);
    border-radius: 15px;
}

.screen {
    min-height: 90px;
    max-width: 242px;
    overflow: auto;
    direction: ltr;
    background-color: rgb(112, 117, 122);
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'VCR OSD Mono';
}

.equation {
    font-size:xx-large;
    font-weight: 500;
}

.answer {
    align-self: flex-end;
    font-size:xxx-large;
    font-weight: 500;
}

button {
    height: 50px;
    width: 60px;
    font-size: larger;
    color: white;
    background-color: rgb(66, 69, 72);
    border-radius: 15px;
}

.acRow, .sevenRow, .fourRow, .oneRow {
    margin-bottom: 4px;
}

.operator{
    background-color: rgb(112, 117, 122);
}

.delete-buttons {
    margin: 0;
    display: flex;
    gap: 0;
    justify-content: space-between;
}

.AC, .DEL {
    background-color: rgb(177, 13, 13);
    width: 124px;
}

.equals {
    background-color: rgb(174, 203, 250);
    color: black;
    font-weight: bold;
}