body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(31, 31, 31);
}

.screen {
    height: 130px;
}

button {
    height: 50px;
    width: 60px;
    font-size: larger;
    color: white;
    background-color: rgb(66, 69, 72);
    border-radius: 15px;
}