body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
}

.screen {
    min-height: 130px;
    background-color: rgb(112, 117, 122);
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

button {
    height: 50px;
    width: 60px;
    font-size: larger;
    color: white;
    background-color: rgb(66, 69, 72);
    border-radius: 15px;
}

.acRow, .sevenRow, .fourRow, .oneRow {
    margin-bottom: 4px;
}

.acRow button, .x, .subtract,  .add, .equals, .multiply{
    background-color: rgb(112, 117, 122);
}

